.App {
  text-align: center;
  text-transform: capitalize;
  color: #FF9770;
}

form {
  padding: 1% 0;
  background: pink;
}

.pokeName {
  color: white;
} 

.pokeTable {
  color: #9475BD;
  padding: 2% 0;
  display: table;
  max-width: 20em;
  float: right;
  display: flex;
  align-items: center;

}
.pokeTableRow {
  background-color: white;

  display: table-row;
}
.pokeTableHeading {
  display: table-header-group;
}
.pokeTableCell,
.pokeTableHead {
  text-align: left;
  border: 2px solid pink;
  display: table-cell;
  padding: 3px 10px;
  font-size:16px;
  font-weight: 500;
}
.pokeTableHeading {
  display: table-header-group;
  font-weight: bold;
}
.pokeTableFoot {
  display: table-footer-group;
  font-weight: bold;
}
.pokeTableBody {
  border-radius: 5px;
  border: 2px solid pink;
  display: table-row-group;
}

.pokeTableCell:nth-child(odd) {
  background-color: white;
}

.pokeStat-bar {
  text-align: center;
  background: pink;
  border-radius: 10px;
  color: white;
}

.pokeWeight {
  text-transform: lowercase;
}

.container {
  display: flex;
  opacity: 0.9;
  background-color: whitesmoke;
  justify-content: center;
}

img {
  height: 16em;
}

input {
  color: #FF9770;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
  border: 3px solid pink;
  border-radius: 10px;
}

h1 {
  font-size: 45px;
}